// Body
$body-bg-white: #FFFFFF;

// Text Colors
$brand-purple-tint: #BC2A6A;
$green: rgba(60, 118, 61, 1);
$pale-red: rgba(202, 95, 85, 1);
$milk-green: rgba(223, 240, 216, 0);
$lemon-light: rgba(214, 233, 198,1);
$error-message-tint: rgba(251, 59, 40, 0.9);

// Colors
$grey: rgba(151, 151, 151, 0);
$white: rgba(255, 255, 255, 1);
$dark-grey: rgba(237, 237, 237, 1);
$toned-grey: rgba(144, 144, 144, 1);
$greyish-blue: rgba(146, 149, 158, 1);
$toned-yellow: rgba(255, 240, 176, 1);
$toned-dark-grey: rgba(114, 112, 118, 1);
$weebly-brand-grey: rgba(102, 108, 112, 1);
$black: rgba(0, 0, 0, 0); // to be used against opacify
